body {
  background-color: whitesmoke;
}

.project {
  text-align: center;
  font-family: monospace;
  font-size: 20pt;
  font-weight: bold;
}

/* MWE Section */
.typeOption {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
}

/* MWE Selection End */

/* Main Body */
.myFlex {
  display: flex;
  border: 1px solid;
  border-color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.dataEntry {
  display: flex;
  border: 1px solid;
  border-color: blanchedalmond;
  margin: 5px;
  padding: 10px;
  width: 50%;
}

.txtBasicPay {
  width: 50px;
}

.resulT {
  border: 1px solid;
  border-color: darkgray;
  margin: 5px;
  padding: 10px;
  width: 50%;
}

.subFlex {
  display: flex;
}

.lblcommon1 {
  width: 40%;
}
.lblcommon2 {
  text-align: center;
  width: auto;
}

/* Main Body End */
