body {
  background-color: whitesmoke;
}

.project {
  text-align: center;
  font-family: monospace;
  font-size: 30pt;
  font-weight: bold;
}

/* MWE Section */
.typeOption {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

/* MWE Selection End */

/* Main Body */
.myFlex {
  display: flex;
  border: 1px solid;
  border-color: black;
  margin-left: 10%;
  margin-right: 10%;
}

.dataEntry {
  display: flex;
  border: 1px solid;
  border-color: blanchedalmond;
  margin: 5px;
  width: 50%;
}

.basicPay {
  width: 100%;
}

.resulT {
  display: flex;
  border: 1px solid;
  border-color: darkgray;
  margin: 5px;
  width: 50%;
}

.lblcommon {
  width: 300px;
}

.takeHome,
.Tax,
.SSS,
.Philhealth,
.Pagibig {
  text-align: end;
  width: 100%;
}

/* Main Body End */
